{% extends 'layout.html' %}

{% block body %}
<div class="sandbox sandbox-correct-pronounciation">
  <h1 class="heading heading-correct-pronounciation">
      Multi-Container Docker - Phase 3
    <em>Publisher</em>
  </h1>
</div>
  <div class = "container">
    <form class="form-default">
      <div class = "pub-sub-group">
          <div class = "form-group" style="padding: 10px;">
              <button class = "btn btn-lbl" >
                Choose Topic to create Publisher : 
              </button>
            </div>
            <div class="form-group" style="padding:0 2em 0 0;">
              <select class="form-control" id="choose_topic">
                <option value="Politics">Politics</option>
                <option value="Business">Business</option>
                <option value="Technology">Technology</option>
                <option value="Sports">Sports</option>
              </select>
            </div>
            <div class="form-group">
              <button id="pubs-created" class = "btn btn-default" type = "submit">
                Create Publisher
              </button>
            </div>  
      </div>
      <div class = "pub-sub-group" >
          <div class = "pubs-created-lbl" style="padding: 10px;">
              <button id="pubs-created" class = "btn btn-lbl" >
                {{ pubs_created }}
              </button>
            </div>
      </div>

      <div class = "pub-sub-group" >
        <div class="form-group">
          <button class = "btn btn-lbl" >
            Choose Topic to Notify :
          </button>
        </div>
        <div class="form-group" style="padding:0 2em 0 0;">
            <select class="form-control" id="choose_topic_notify">
              <option value="Politics">Politics</option>
              <option value="Business">Business</option>
              <option value="Technology">Technology</option>
              <option value="Sports">Sports</option>
            </select>
          </div>
        <div class="form-group" >
          <button id="notify" class = "btn btn-default" type = "submit" >
            Send Notification
          </button>
        </div>
      </div>
        <div class = "pub-sub-group" >
            <div class = "pubs-created-lbl" style="padding: 10px;">
                <button id="pubs-created" class = "btn btn-lbl" >
                  {{ notified }}
                </button>
            </div>
        </div>
    </form>
  </div>

{% endblock %}
