{% extends 'layout.html' %}

{% block body %}
<div class="sandbox sandbox-correct-pronounciation">
  <h1>
    <em>About Application</em>
    </br>
     Use Docker to run WebApp where a user can complie and execute the code entered.
   </h1>
 </br>
  <h1>
    <em>About Authors</em>
  </br>
  <div>Priya Murthy</div>
  <div>Masters in Computer Science</div>
  <div>State University of New York at Buffalo</div>
  </br>
    <div>Shefali Sharma</div>
    <div>Masters in Computer Science</div>
    <div>State University of New York at Buffalo</div>
  </h1>
<div class="sandbox sandbox-correct-pronounciation">
{% endblock %}
