{% extends 'layout.html' %}
{% block body %}

<div class="sandbox sandbox-correct-pronounciation">
  <h1 class="heading heading-correct-pronounciation">
    Phase 1 - New Application launched from 'Run Code'
    <em>Application - Two</em>
  </h1>
</div>
  <div class = "container">
    <form class="form-default">
      <div class = "input-group">
        
          <button id="res" class = "btn btn-lbl">
            Result: {{ myResult }}
          </button>
        
      </div>
    </form>
  </div>

{% endblock %}
